name: Release notes and create release

on:
  push:
    tags:
      - 'v*.*.*'   # when a semver tag is pushed
  workflow_dispatch: {}

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create GitHub Release from tag
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
